.header {
    display: flex;
    background-color: #35374B;
    margin: 0;
    padding: 10px;
}

.titulo {
    display: flex;
    justify-content: flex-start;
    color: red;
}

.Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.primaryButton {
    color: gold;
    text-decoration: none;
  }
  
  .secondaryButton {
    color: gray;
    font-size: 40px;
    text-decoration: none;
  }