.header {
    display: flex;
    background-color: #35374B;
    margin: 0;
    padding: 10px;
    justify-content: space-between;
}

.titulo {
    display: flex;
    justify-content: flex-start;
    color: red;
}

.Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.primaryButton {
    color: gold;
  }
  
  .secondaryButton {
    color: gray;
    
  }

  .terciaryButton {
    color: green;
  }