.header {
    display: flex;
    background-color: #35374B;
    margin: 0;
    padding: 10px;
    justify-content: space-between;
}

.titulo {
    display: flex;
    justify-content: flex-start;
    color: red;
    font-size: 30px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.silla {
    color: gold;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
  }
  
  .sillon {
    color: gray;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
    
  }

  .pufs {
    color: green;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
  }